<!-- frontend/site/home.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <title>{{ view.title }}</title>
{% endblock head %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
    <h1>Cosmetology</h1>
    <h3 align="justify">Мы рады, что вы посетили наш официальный сайт, и с огромным удовольствием предлагаем посетителям качественный и доступный ивановский текстиль. У нас можно найти очень красивые
        и теплые махровые изделия, изысканное постельное белье, пледы и покрывала, разные одеяла и подушки. Еще у нас есть и недорогие товары для детей (что радует очень многих родителей), а также
        множество незаменимых вещей, которые помогают создать домашний уют.</h3>

    <h3 align="justify">Салоны красоты «Cosmetology» — это известная марка на рынке парикмахерских и косметических услуг, созданная в 1994 году.</h3>

    <h3 align="justify">Салоны красоты «Cosmetology» — чемпионы мира по парикмахерскому искусству в Лас-Вегасе.</h3>
    <h3 align="justify">Салоны красоты «Cosmetology» — лауреаты Национальной Российской премии «ОВАЦИЯ» в номинации: «Фирма, работающая в индустрии красоты (имиджмейкерство)».</h3>
    <h3 align="justify">Салоны красоты «Cosmetology» — это чудесный мир всемирно известных парикмахерских и косметических марок: Wella Professionals, Sebastian, CARITA, KERASTASE, La Ric, GEHWOL, CND и других.</h3>
    <h3 align="justify">Удерживать лидирующее положение на рынке парикмахерских и косметических услуг на протяжении 25 лет нам помогает стремление всегда и во всем следовать последним тенденциям времени.</h3>


    <div align="right">
        <a class="btn btn-lg btn-success" href="{% url "catalog-list" %}" role="button">Перейти в каталог товаров</a>
        <a class="btn btn-lg btn-primary" href="{% url "procedure-list" %}" role="button">Перейти в каталог процедур</a>
    </div>
    <div class="jumbotron">
    </div>
{% endblock content %}
